In [95]:
import pandas as pd
import plotly.express as px


chamados_df = pd.read_csv('chamados.csv')
display(chamados_df)

,id,tipo,estado,cidade,bairro,rua,data,hora,descricao
0,1,Animal em perigo,SP,Santos,Boqueirão,Rua De Santos; 59,20 out 2024,12:25,Tartaruga está machucada.
1,2,Pesca ilegal,RJ,Rio de Janeiro,Copacabana,Rua De Copacabana; 81,15 set 2024,08:56,Há um grupo de pescadores com redes.
2,3,Descarte inadequado,BA,Salvador,Pelourinho,Rua De Salvador; 22,16 ago 2024,19:12,Alguns homens estão jogando sacos de lixo na a...

In [97]:
chamados_df = chamados_df.drop(columns=['id', 'descricao', 'rua', 'hora'])
display(chamados_df)

                  tipo estado          cidade      bairro         data
0     Animal em perigo     SP          Santos   Boqueirão  20 out 2024
1         Pesca ilegal     RJ  Rio de Janeiro  Copacabana  15 set 2024
2  Descarte inadequado     BA        Salvador  Pelourinho  16 ago 2024